@font-face {
    font-family: 'GeistMono';
    src: url("static/GeistMono.ttf");
}

@font-face {
    font-family: 'PressStart2P';
    src: url("static/PressStart2P-Regular.ttf");
}

body {
    background-color: #F0F8FF;
    font-family: GeistMono, monospace;
}

#site-box {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 75%;
}

.midcontain {
    margin-left: 5%;
    margin-right: 5%;
}  

h1 {
    font-family: PressStart2P;
    margin: 0px;
}

img{
    position: absolute;
    top: -10px;
    height: 640px;
    width: 640px;
    z-index: -1;
    opacity: 0.5;
}

p{
    margin-top: 0px;
}
.cell {
    transition: font-weight 0.5s linear;
}
.cell:hover {
    font-weight: 800;
}
.headbox{
    margin-top: 2em;
    float: left;
}

.hl {width:25%;}
.hr {width:75%;}
.head-cell {
    font-weight: bold;
}

.cell {
    margin-top: 1em;;
}

.unlight {
    color: #AAA;
}

.foot {
    margin-top: 5em;
    text-align: center;
}
#searchbar {
    font-family: GeistMono;
    width: 100%;
    padding: 10px 20px;
    margin: 1em 0em;
}

button {
    background-color: white;
    font-family: GeistMono;
    padding: 7px 15px;
    color:#666;
}

.highlight {
    background-color:  #005299;
    color: white;
}

a {color:  #005299}

@media only screen and (max-width: 1000px) {
    .hr, .hl {width:100%;}
    .mid-contain {margin:0px;}
}