@font-face {
    font-family: 'GeistMono';
    src: url("GeistMono.ttf");
}

@font-face {
    font-family: 'PressStart2P';
    src: url("PressStart2P-Regular.ttf");
}

body {
    background-color: #F0F8FF;
    font-family: GeistMono, monospace;
}



#site-box {
    display: grid;
    grid-template-columns: auto auto auto;
}

.midcontain {
    margin-left: 10%;
    margin-right: 10%;
}  

h1 {
    font-family: PressStart2P;
}

.headbox{
    margin-top: 2em;
    width: 50%;
}

.head-cell {
    font-weight: bold;
}

.cell {
    margin-top: 1em;;
}

.unlight {
    color: #AAA;
}

#searchbar {
    font-family: GeistMono;
    width: 100%;
    padding: 10px 20px;
}

button {
    background-color: white;
    font-family: GeistMono;
    padding: 10px 20px;
    color:#666;
}